@import "bootstrap.min.css";
@import "all.min.css";
/********************ШАПКА******************************/
html,body{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #460B0B 0%, #0B0A0A 100%);
    color: white;
    padding: 0;
    margin: 0;
    font-family:"Segoe UI";
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}
section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.main-header{
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 1);
    /*position: fixed;*/
    /*width: 100%;*/
    /*left: 0;*/
    /*top: 0;*/
    /*z-index: 50;*/
}
.menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    Z-index:2;
    /*position: sticky;*/
    /*top: 0;*/
    padding: 1rem;
}
.main-block__menu {
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: end;
}
a{
    text-decoration: none;
    color: #d9d7d7;
}
a:hover{
    color:white;
}
.menu-top__item{
    margin-right: 30px;
}
.menu-top__item:hover{
    transition: 0.1s ease-in-out;
}
.menu-top__button{
    display: flex;
    align-items: flex-end;
}
.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    position: relative;
    width: 177px;
    height: 57px;
    background: #bd1717;
    border: none;
    border-radius:3px ;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}
.menu-button:hover{
    background: #f51717;
    box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.3);
}

.nav{
    display: flex;
    list-style: none;
}
.nav-item{
    margin-bottom: 10px;
}
/*********************************************************/

.container{
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
.col-md-4{

}
.card{
    background: linear-gradient(180deg, #240707 0%, #561010 100%);
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 15px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
    height: 100%;
}
.row{
    margin: 0 auto;
}
.col{
    flex: 0 0 auto;
    width: 25%;
}
.section__heading{
    padding-bottom: 1rem;
}
.heading__description{
    padding-bottom: 2rem;
}
/******************************************/
.footer__block{
    background: rgba(16, 15, 15, 0.6);
}
.socials__item{
    margin-right: 25px;
    width: 2em;
    height: 2em;
    line-height: 3rem;
    text-align: center;
    background: #561010;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    text-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}
.socials__item:hover{
   background: #f51717;
}
.arrow__block{
    display: flex;
    justify-content: center;
}

/*****************SHOP******************/
.product__img{
    padding: 10%;
    /*background: #191616;*/
    background: #270d0d;
    border: 1px solid #282828;
    width: 100%;
}
.product__img:hover{
    background: #381313;
    transition: 0.5s ease-in-out;
}
.product__card{
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
}
.product__price{
    background: #231d1d;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 6px;
    border-radius: 0 0 2px 0;
}
.product__quantity {
    position: absolute;
    right: 12px;
    bottom: 8px;
    opacity: 1;
    transition: opacity .4s ease;}

.sidebar{
    position: relative;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    border-radius: 2px;
}
.sidebar__body{
    /*background: #303030;*/
    background: #431717;
    padding: 20px;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
}
.header{
    /*background: #231d1d;*/
    background: linear-gradient(180deg, #240707 0%, #561010 100%);
    padding: 20px;
    border-radius: 2px 2px 0 0;
}
.progress-bar{
    width: 100%;
    animation: progress-bar-stripes 2s linear infinite;
    background: blue;
}
.sidebar__footer{
    padding: 20px;
    background: linear-gradient(180deg, #240707 0%, #561010 100%);
    /*background: #231d1d;*/
    border-radius: 0 0 2px 2px
}
.btn-block {
    display: block;
    width: 100%;
}
.btn {
    border: none;
    border-radius: 2px;
    padding: 7px 13px;
    outline-style: none!important;}
.btn{
    color: #fff;
    background: #bd1717;
    text-shadow: 0 1px 1px rgb(0 0 0 / 30%);}

.btn:hover{
    background: #f51717;
    color: #fff;
}
.cards{
    /*background: linear-gradient(180deg, #240707 0%, #561010 100%);*/
    background: radial-gradient(98.82% 107.93% at 98.82% 98.36%, #871515 0%, #130E0E 100%);
}

.btn-default{
    margin-bottom: 5px;
    color: #b0aaaa;
    background: #231d1d;
    border: none;
}
.btn-default:hover{
    color: #fff;
}
.btn-default.active{
    background: #f51717;
}
.input-group .form-control{
    width: 100%;
}
.number{
    padding-top: 7.5px;
}
.form-control{
    margin-left: 0;
    border-radius: 2px;
    background-color: #231d1d;
    color: #696969;
    border: none;
}
.fa-search{
    vertical-align: middle;
}

.input__icon{
    padding: 0 15px;
    background:#bd1717 ;
    border: 1px solid #ad1414;
    color: #fff;
}
.store-categories{
    text-align: center;
    margin-bottom: 15px;
}
.navbar{
    /*background: #231d1d;*/
    background:linear-gradient(180deg, #240707 0%, #561010 100%);
    padding: 1rem;
}
/*МОДАЛКА**********************************************/
.modal-dialog{
    margin: 0 auto;
}
.modal-header{
    background: #282828;
    border-bottom: 1px solid #292929;
}
.modal-body{
    background: #161111;
}
.modal-footer{
    background: #282828;
    border-top: 1px solid #292929;
}
.modal-footer__block{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-group-addon{
    display: table-cell;
    border-right: 0;
    background: #bd1717;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border-radius: 4px;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.modal{
    display: block;/*позже убрать*/
}
.form-group{
    margin-bottom: 15px;
}
.form-group-search{
    display: flex;
}
label{
    margin-bottom: 10px;
}
.service__image{
    margin-bottom: 10px;
}
.plus{
    margin-left: -1px;
}
.col-md-9{
    padding:0;
}
/**MEDIA*********************************************************/

@media(min-width: 992px){
.col-md-pull-9{
    right: 75%;
}
.col-md-3{
    width: 25%;
    float:left;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-push-3 {
    left: 25%;
}
    .col-md-9 {
        width: 74%;
        padding: 0;
    }

}
@media (max-width: 991px){
    .col-md-9{
        width: 100%;
    }
    .col-md-3{
        width: 70%;
        margin: 0 auto;
    }
    .modal-sm{
        width: 350px;
    }
}


@media (max-width: 2500px){
}

@media (max-width: 1800px){
}

@media (max-width: 1199px) {
}

@media (max-width: 769px) {
}

@media (max-width: 580px){
    .menu-top__item {
        margin-right: 15px;
    }
    .nav{
        display: none;
    }
    .nav-shop{
        display: flex;
    }
    .nav .active{
        display: block;
    }
    .btn-default{
        width: 40%;
    }
    .col-md-3{
        width: 100%;
    }
    .container{
        padding: 0;
    }
    .menu-top__item {
        margin-right: 35px;
    }
    .product__card{
        margin: 10px 0;
    }
}
    /*в форме при написании становится белый цвет, он не очень
